html,
body {
   height: 100%;
   font-family: "Roboto", sans-serif;
   background: url("../img/background.png");
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   margin: 0 auto;
}

.main {
   flex: 1 0 auto;
}

.footer {
   flex: 0 0 auto;
}

.container {
   max-width: 1310px;
   margin: 0 auto;
   padding: 0 15px;

   @media (max-width: 1200px) {
      max-width: 970px;
   }

   @media (max-width: 992px) {
      max-width: 750px;
   }

   @media (max-width: 767px) {
      max-width: none;
   }

   @media (max-width: 480px) {
   }
}

.btn-arrow {
   display: inline-block;
   font-size: 18px;
   color: #ffffff;
   padding: 22px 111px 22px 31px;
   background: #1a6c77;
   white-space: nowrap;
   position: relative;
   transition: 0.5s;

   &:after {
      position: absolute;
      top: 24px;
      right: 27px;
      content: "";
      background: url(../img/arrow.svg) center no-repeat;
      width: 70px;
      height: 17px;
   }

   &:hover {
      transform: scale(1.05);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
   }
}
.form {
   &__input {
      border-bottom: 1px solid black;
      padding: 20px 5px 20px 0px;
      // min-width: 457px;
      width: 40%;

      height: 65px;
      color: black;
      font-weight: normal;
      font-size: 18px;
      line-height: 155.19%;
      color: #000000;
      background: transparent;

      flex: 0 0 50%;
      overflow: hidden;
      text-overflow: ellipsis;
      &::placeholder {
         color: black;
         font-weight: normal;
         font-size: 18px;
         line-height: 155.19%;
         color: #000000;
      }
   }
}
